@import "tailwindcss";

@layer components {
  .markdown-body {
    @apply text-[14px] md:text-[15px] leading-[22px] md:leading-[25px] tracking-[-0.01em];
  }

  .markdown-body p {
    @apply mb-4;
  }
  .markdown-body p:has(+ ul) ,
  .markdown-body p:has(+ ol) {
    @apply mb-2.5;
  }
  .markdown-body p:has(> img) {
    @apply max-w-160 rounded-lg;
  }

  .markdown-body h1 {
    @apply text-2xl md:text-3xl font-bold mt-[2.2em] mb-[0.5em];
  }
  .markdown-body > h1:first-child {
    @apply mt-0
  }

  .markdown-body h2 {
    @apply text-xl md:text-2xl font-bold mt-[2em] mb-[0.4em];
  }

  .markdown-body h3 {
    @apply text-lg md:text-xl font-bold mt-[1.8em] mb-[0.3em];
  }

  .markdown-body h4 {
    @apply text-base md:text-lg font-bold mt-[1.4em] mb-[0.2em];
  }

  .markdown-body h5 {
    @apply text-sm md:text-base font-bold mt-[1.2em] mb-[0.2em];
  } 

  .markdown-body a {
    @apply text-(--color-primary-red) underline underline-offset-4 hover:opacity-70 transition break-all max-w-full;
  }
  
  .markdown-body ul {
    @apply list-disc ml-4 md:ml-6 my-2 md:my-2 space-y-1 md:space-y-2;
  }

  .markdown-body ol {
    @apply list-decimal ml-4 md:ml-6 my-2 md:my-2 space-y-1 md:space-y-2;
  }

  .markdown-body li {
    @apply leading-4.5;
  }
  .markdown-body ul:has(> li > input[type="checkbox"]) {
    @apply list-none ml-1;
  }
  .markdown-body li > ul {
    @apply list-[circle];
  }

  .markdown-body p code {
    @apply bg-[#E9EAEC] text-[#495155] font-medium mx-0.75 px-1.5 py-0.5 rounded text-sm font-mono;
  }

  .markdown-body h6 {
    @apply text-[11px] md:text-[13px] text-[#aaa] bg-[#4e5154] px-3 py-0.5 mt-0.5 rounded-tr-lg rounded-tl-lg inline-block font-mono break-all max-w-[95%];
  } 
  .markdown-body pre {
    @apply text-[11px] md:text-[13px] bg-[#3A3A3A] mb-4 px-0 py-4 md:py-5 rounded-lg overflow-x-auto text-sm font-mono;
  }
  .markdown-body h6 + figure pre {
    @apply rounded-tl-none;
  }
  .markdown-body pre code {
    @apply grid min-w-full;
  }
  .markdown-body pre [data-line] {
    @apply px-4 md:px-5 min-h-[1.5em];
  }

  .markdown-body blockquote {
    @apply relative my-1 md:my-2 pl-[22px] md:pl-[28px] py-3 md:py-4 rounded-xl text-[rgb(25_38_46/0.6)] italic;
    z-index: 1;
  }
  .markdown-body blockquote::after {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 10px;
    background: rgb(from var(--color-primary-red) r g b / 0.4);
    border-radius: 0.5rem;
    z-index: -1;
  }
  .markdown-body blockquote::before {
    content: "“";
    position: absolute;
    top: 37px;
    left: 22px;
    font-size: 4.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 0;
    letter-spacing: 10px;
    color: rgb(from var(--color-primary-red) r g b / 0.4);
    z-index: -1;
  }
  .markdown-body blockquote > p {
    @apply mb-0
  }
  
  .markdown-body table {
    @apply border border-[#DDD] text-left text-sm;
  }

  .markdown-body th {
    @apply border border-[#DDD] px-4 py-3 bg-[#F2F2F2] text-left font-bold;
  }

  .markdown-body td {
    @apply border border-[#DDD] px-4 py-3 align-top text-left;
  }

  .markdown-body hr {
    @apply my-6 border-[#DDD];
  }
}
