html {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--color-primary-beige);
  background-image: url("/images/global/bg_pattern.png");
  background-position: top;
  background-size: 210px;
}

body {
  min-height: 100%;
  color: var(--text-primary);
  font-family:
    var(--font-ubuntu),
    var(--font-ibm-plex-sans-jp),
    sans-serif;
  font-weight: 400;
}

::selection {
  background-color: var(--color-primary-red);
  color: var(--color-primary-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 767px) {
  html {
    background-size: 150px;
  }
}
