.header {
  max-width: var(--layout-content-width);
  margin-inline: auto;
}

.inner {
  position: absolute;
  top: 48px;
  z-index: 10;
  margin-left: 1px;
}

.title {
  margin-bottom: 8px;
  font-size: 48px;
  font-weight: 700;
}

.link {
  display: block;
}

.logo {
  width: 350px;
  height: auto;
}

@media (max-width: 767px) {
  .inner {
    top: 26px;
    margin-left: 8px;
  }

  .logo {
    width: 220px;
  }
}
