.frame {
  position: relative;
}

.frame::before,
.frame::after {
  position: absolute;
  top: 0;
  display: block;
  width: 2px;
  height: 100%;
  content: "";
  background-image: radial-gradient(circle, var(--color-primary-red) 2px, transparent 2px);
  background-repeat: repeat-y;
  background-size: 2px 7px;
}

.frame::before {
  left: 0;
}

.frame::after {
  right: 0;
}

.header {
  position: relative;
}

.header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-image: radial-gradient(circle, var(--color-primary-red) 2px, transparent 2px);
  background-repeat: repeat-x;
  background-size: 7px 2px;
}

.headerInner {
  padding: 40px 26px;
}

.title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

.date {
  display: inline-block;
  font-family: var(--font-playfair-display);
  font-size: 0.9rem;
  font-variant-numeric: lining-nums;
  font-weight: 700;
  transform: scaleY(0.82);
  transform-origin: left center;
}

.jointLeft,
.jointRight {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
}

.jointLeft::before,
.jointLeft::after,
.jointRight::before,
.jointRight::after {
  position: absolute;
  content: "";
  background: var(--color-primary-red);
}

.jointLeft::after {
  bottom: 0;
  left: 0;
  width: 10px;
  height: 2px;
}

.jointLeft::before {
  top: 50%;
  left: 0;
  width: 2px;
  height: 20px;
  transform: translateY(-50%);
}

.jointRight::after {
  right: 0;
  bottom: 0;
  width: 10px;
  height: 2px;
}

.jointRight::before {
  top: 50%;
  right: 0;
  width: 2px;
  height: 20px;
  transform: translateY(-50%);
}

.body {
  padding: 60px 26px 56px;
}

@media (max-width: 767px) {
  .frame::before,
  .frame::after {
    display: none;
    background-size: 1.4px 7px;
  }

  .headerInner {
    padding: 20px 4px;
  }

  .title {
    margin-bottom: 3px;
    font-size: 24px;
  }

  .date {
    font-size: 0.8rem;
  }

  .body {
    padding: 40px 4px 56px;
  }
}
