@import "tailwindcss";

:root {
  --background: var(--color-primary-white);
  --foreground: #171717;
  --text-primary: var(--color-font-black)
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-primary-white);
    --text-primary: var(--color-primary-white);
  }
} */

@theme {
  --color-primary-beige: #F6EBDA;
  --color-primary-red: #E74D4D; 
  --color-primary-white: #FBFBFB;
  --color-font-black: #19262E;
}

body {
  color: var(--text-primary);
}

.font-playfair {
  font-family: var(--font-playfair-display);
  font-variant-numeric: lining-nums;
  transform: scaleY(0.8);
  display: inline-block;
  font-weight: 500;
}

/* 下線アニメーション */
@layer components {
  .link-underline {
    @apply relative inline-block;
  }

  .link-underline::after {
    content: "";
    @apply absolute left-0 -bottom-[-0.125rem] h-[2px] w-full
           origin-left scale-x-0
           bg-current
           transition-transform duration-300;
  }

  .link-underline:hover::after {
    @apply scale-x-100;
  }
}
