@import "tailwindcss";

:root {
  --background: var(--color-primary-white);
  --foreground: #171717;
  --text-primary: var(--color-font-black)
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-primary-white);
    --text-primary: var(--color-primary-white);
  }
} */

@theme {
  --color-primary-beige: #F6EBDA;
  --color-primary-red: #E74D4D; 
  --color-primary-white: #FBFBFB;
  --color-font-black: #19262E;
}

body {
  color: var(--text-primary);
}

/* font */
.font-playfair {
  font-family: var(--font-playfair-display);
  font-variant-numeric: lining-nums;
  font-weight: 700;
}

@layer components {
  /* 下線アニメーション */
  .link-underline {
    @apply relative inline-block;
  }

  .link-underline::after {
    content: "";
    @apply absolute left-0 -bottom-[-0.125rem] h-[2px] w-full
           origin-left scale-x-0
           bg-current
           transition-transform duration-300;
  }
  /* 
  .link-underline:hover::after {
    @apply scale-x-100;
  }
  */

  .link-underline span,
  .link-underline + data {
    @apply transition duration-300;
  }

  .link-underline:hover span,
  .link-underline:hover + data {
    @apply blur-[1px];
  }
  
  /* deco */
  .deco::before,
  .deco::after {
    content: '';
    @apply absolute z-20
    -translate-y-1/2
    bg-no-repeat bg-contain;
  }
  .deco::before {
    @apply -left-18 top-115 w-25.25 h-25.25;
    background-image: url('/images/global/deco_flower.png');
  }
  .deco::after {
    @apply -right-12.75 top-96 w-[115px] h-[211px];
    background-image: url('/images/global/deco_star.png');
  }
  
  /* 角丸 */
  .footer-corner {
    @apply relative pl-6;
  }
  
  .footer-corner::before,
  .footer-corner::after {
    content: '';
    @apply absolute w-10 h-10 
    -translate-y-1/2
    bg-no-repeat bg-contain bg-primary-red;
    background-image: url('/images/global/bg_roundedcorner.svg');
  }
  .footer-corner::before {
    @apply -left-4 top-1/2
  }
  .footer-corner::after {
    @apply right-0 -top-1/2
  }
}
